<a href="https://colab.research.google.com/github/Nehankur1/PySparkDataWrangling/blob/main/pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark

Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Get:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Hit:3 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:4 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Get:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [664 kB]
Hit:7 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Get:8 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease [18.1 kB]
Get:9 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [1,346 kB]
Get:10 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease [18.1 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy-updates/multiverse amd64 Packages [50.4 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,322 kB]
Hit:13 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:14 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:15 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [1,709 kB]
Get:16 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy/main Sources [2,264 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [1,667 kB]
Get:18 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy/main amd64 Packages [1,162 kB]
Get:19 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy/main amd64 Packages [28.2 kB]
Fetched 10.5 MB in 2s (4,245 kB/s)
Reading package lists... Done

In [ ]:
mydata = spark.read.format("csv").option("header","true").load("UsGdpYear.csv")

In [ ]:
mydata.show()

+----+-------------+-------------+--------------+--------------+
|date|level-current|level-chained|change-current|change-chained|
+----+-------------+-------------+--------------+--------------+
|1930|         92.2|        966.7|           -16|          -6.4|
|1931|         77.4|        904.8|         -23.1|         -12.9|
|1932|         59.5|        788.2|            -4|          -1.2|
|1933|         57.2|        778.3|          16.9|          10.8|
|1934|         66.8|        862.2|          11.1|           8.9|
|1935|         74.3|          939|          14.3|          12.9|
|1936|         84.9|       1060.5|           9.6|           5.1|
|1937|           93|       1114.6|          -6.1|          -3.3|
|1938|         87.4|       1077.7|             7|             8|
|1939|         93.5|       1163.6|          10.1|           8.8|
|1940|        102.9|       1266.1|          25.7|          17.7|
|1941|        129.4|       1490.3|          28.3|          18.9|
|1942|          166|       1771.8|          22.4|            17|
|1943|        203.1|       2073.7|          10.5|             8|
|1944|        224.6|       2239.4|           1.6|            -1|
|1945|        228.2|       2217.8|          -0.2|         -11.6|
|1946|        227.8|       1960.9|           9.7|          -1.1|
|1947|        249.9|       1939.4|            10|           4.1|
|1948|        274.8|         2020|          -0.7|          -0.6|
|1949|        272.8|       2008.9|            10|           8.7|
+----+-------------+-------------+--------------+--------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import *
mydata2 = mydata.withColumn("level", when(mydata.date.isNull(),'Unknown').otherwise(mydata.date))
mydata2.show()

+----+-------------+-------------+--------------+--------------+-------+
|date|level-current|level-chained|change-current|change-chained|  level|
+----+-------------+-------------+--------------+--------------+-------+
|1930|         92.2|        966.7|           -16|          -6.4|   1930|
|1931|         77.4|        904.8|         -23.1|         -12.9|   1931|
|1932|         59.5|        788.2|            -4|          -1.2|   1932|
|1933|         57.2|        778.3|          16.9|          10.8|   1933|
|1934|         66.8|        862.2|          11.1|           8.9|   1934|
|1935|         74.3|          939|          14.3|          12.9|   1935|
|1936|         84.9|       1060.5|           9.6|           5.1|   1936|
|1937|           93|       1114.6|          -6.1|          -3.3|   1937|
|1938|         87.4|       1077.7|             7|             8|   1938|
|1939|         93.5|       1163.6|          10.1|           8.8|   1939|
|1940|        102.9|       1266.1|          25.7|          17.7|   1940|
|1941|        129.4|       1490.3|          28.3|          18.9|   1941|
|1942|          166|       1771.8|          22.4|            17|   1942|
|null|        203.1|       2073.7|          10.5|             8|Unknown|
|1944|        224.6|       2239.4|           1.6|            -1|   1944|
|1945|        228.2|       2217.8|          -0.2|         -11.6|   1945|
|1946|        227.8|       1960.9|           9.7|          -1.1|   1946|
|1947|        249.9|       1939.4|            10|           4.1|   1947|
|1948|        274.8|         2020|          -0.7|          -0.6|   1948|
|1949|        272.8|       2008.9|            10|           8.7|   1949|
+----+-------------+-------------+--------------+--------------+-------+
only showing top 20 rows

In [ ]:
mydata3 = mydata2.filter(mydata2.date.isNull())
mydata3.show()

+----+-------------+-------------+--------------+--------------+-------+
|date|level-current|level-chained|change-current|change-chained|  level|
+----+-------------+-------------+--------------+--------------+-------+
|null|        203.1|       2073.7|          10.5|             8|Unknown|
|null|        367.7|       2456.1|             6|           4.7|Unknown|
+----+-------------+-------------+--------------+--------------+-------+

In [ ]:
mydata2 = mydata2.withColumn('level',mydata2.date.cast('float'))
mydata2.show()

+----+-------------+-------------+--------------+--------------+------+
|date|level-current|level-chained|change-current|change-chained| level|
+----+-------------+-------------+--------------+--------------+------+
|1930|         92.2|        966.7|           -16|          -6.4|1930.0|
|1931|         77.4|        904.8|         -23.1|         -12.9|1931.0|
|1932|         59.5|        788.2|            -4|          -1.2|1932.0|
|1933|         57.2|        778.3|          16.9|          10.8|1933.0|
|1934|         66.8|        862.2|          11.1|           8.9|1934.0|
|1935|         74.3|          939|          14.3|          12.9|1935.0|
|1936|         84.9|       1060.5|           9.6|           5.1|1936.0|
|1937|           93|       1114.6|          -6.1|          -3.3|1937.0|
|1938|         87.4|       1077.7|             7|             8|1938.0|
|1939|         93.5|       1163.6|          10.1|           8.8|1939.0|
|1940|        102.9|       1266.1|          25.7|          17.7|1940.0|
|1941|        129.4|       1490.3|          28.3|          18.9|1941.0|
|1942|          166|       1771.8|          22.4|            17|1942.0|
|null|        203.1|       2073.7|          10.5|             8|  null|
|1944|        224.6|       2239.4|           1.6|            -1|1944.0|
|1945|        228.2|       2217.8|          -0.2|         -11.6|1945.0|
|1946|        227.8|       1960.9|           9.7|          -1.1|1946.0|
|1947|        249.9|       1939.4|            10|           4.1|1947.0|
|1948|        274.8|         2020|          -0.7|          -0.6|1948.0|
|1949|        272.8|       2008.9|            10|           8.7|1949.0|
+----+-------------+-------------+--------------+--------------+------+
only showing top 20 rows

In [ ]:
mean = mydata2.groupBy().avg('level').take(1)[0][0]
print(mean)

1973.6

In [ ]:
from pyspark.sql.functions import lit
mydata2 = mydata2.withColumn('Year_New', when(mydata2.level.isNull(),lit(mean)).otherwise(mydata2.level))
mydata2.show()

+----+-------------+-------------+--------------+--------------+------+--------+
|date|level-current|level-chained|change-current|change-chained| level|Year_New|
+----+-------------+-------------+--------------+--------------+------+--------+
|1930|         92.2|        966.7|           -16|          -6.4|1930.0|  1930.0|
|1931|         77.4|        904.8|         -23.1|         -12.9|1931.0|  1931.0|
|1932|         59.5|        788.2|            -4|          -1.2|1932.0|  1932.0|
|1933|         57.2|        778.3|          16.9|          10.8|1933.0|  1933.0|
|1934|         66.8|        862.2|          11.1|           8.9|1934.0|  1934.0|
|1935|         74.3|          939|          14.3|          12.9|1935.0|  1935.0|
|1936|         84.9|       1060.5|           9.6|           5.1|1936.0|  1936.0|
|1937|           93|       1114.6|          -6.1|          -3.3|1937.0|  1937.0|
|1938|         87.4|       1077.7|             7|             8|1938.0|  1938.0|
|1939|         93.5|       1163.6|          10.1|           8.8|1939.0|  1939.0|
|1940|        102.9|       1266.1|          25.7|          17.7|1940.0|  1940.0|
|1941|        129.4|       1490.3|          28.3|          18.9|1941.0|  1941.0|
|1942|          166|       1771.8|          22.4|            17|1942.0|  1942.0|
|null|        203.1|       2073.7|          10.5|             8|  null|  1973.6|
|1944|        224.6|       2239.4|           1.6|            -1|1944.0|  1944.0|
|1945|        228.2|       2217.8|          -0.2|         -11.6|1945.0|  1945.0|
|1946|        227.8|       1960.9|           9.7|          -1.1|1946.0|  1946.0|
|1947|        249.9|       1939.4|            10|           4.1|1947.0|  1947.0|
|1948|        274.8|         2020|          -0.7|          -0.6|1948.0|  1948.0|
|1949|        272.8|       2008.9|            10|           8.7|1949.0|  1949.0|
+----+-------------+-------------+--------------+--------------+------+--------+
only showing top 20 rows